{% extends 'navigation.html' %}

{% block content %}
<html>
  <head>
     <title>Health Planner</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <style>
    body { background-color:darkseagreen; } 
  
  </style>
  <body>


    <div class="container"><br>
    <div class="row align-items-center justify-content-center" >
    <div class="col-md-4" style="background-color:grey;color:black;border-radius:10px;">
      <form  action="/exerciseplan" method="post" role="form">
        {{ form.csrf }}
        <h1 style="text-align:center;background-color:grey;color:black">Enter your exercise requirements</h1>

        <div class="form-group">

          <label for="duration">{{form.sets.label}}</label>
          {{form.sets()}}            
          <br>
          <label for="intensity">{{form.reps.label}}</label>
          {{form.reps()}}	    
          <br>
	        <label for="frequency">{{form.level.label}}</label>
          {{form.level()}}	   
          <br>
          <div style="display:flex;">
	        <label for="musclegroups">{{form.musclegroups.label}}</label>
          {{form.musclegroups()}}	
        </div>
        </div>

        <br>													   
        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>

    </div>
    <br>
    </div>
    </div>
  </body>
</html>
{% endblock %}
