{% extends 'navigation.html' %}

{% block content %}
<html>
  <head>
     <title>Health Planner</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <style>
    body { background-color:darkseagreen; } 
  
  </style>
  <body>


    <div class="container"><br>
    <div class="row align-items-center justify-content-center" >
    <div class="col-md-4" style="background-color:grey;color:black;border-radius:10px;">
      <form  action="/exerciseplan" method="post" role="form">
        {{ form.csrf }}
        <h1 style="text-align:center;background-color:grey;color:black">Enter your exercise requirements</h1>

        <div class="form-group">
          <br>
          <br>
          {{form.sunday(checked=True)}}{{form.sunday.label}}<br>
          {{form.monday()}}{{form.monday.label}}
          <br>
          {{form.tuesday()}}{{form.tuesday.label}}
          <br>
          {{form.wednesday()}}{{form.wednesday.label}}
          <br>
          {{form.thursday()}}{{form.thursday.label}}
          <br>
          {{form.friday()}}{{form.friday.label}}
          <br>
          {{form.saturday()}}{{form.saturday.label}}

  <br>
          <br>
          {{form.intensity.label}}
          {{form.intensity}}
          <br>
          <div>
           <!-- {{form.targetmusclegroup.label}} 
            {{form.targetmusclegroup()}} -->
            {{form.upperback(checked=True)}} {{form.upperback.label}}
            <br>
            {{form.lowerback()}} {{form.lowerback.label}}
            <br>
            {{form.quads()}} {{form.quads.label}}
            <br>
            {{form.triceps()}} {{form.triceps.label}}
            <br>
            {{form.biceps()}} {{form.biceps.label}}
            <br>
            {{form.abs()}} {{form.abs.label}}
            <br>
            {{form.shoulders()}} {{form.shoulders.label}}
            <br>
            {{form.chest()}} {{form.chest.label}}
            <br>
            {{form.calves()}} {{form.calves.label}}
            <br>
            {{form.sideabs()}} {{form.sideabs.label}}
            <br>
            {{form.cardio()}} {{form.cardio.label}}
            <br>
            {{form.traps()}} {{form.traps.label}}
            <br>
            {{form.hamstrings()}} {{form.hamstrings.label}}
            <br>
            {{form.glutes()}} {{form.glutes.label}}

        </div>
        </div>

        <br>													   
        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>

    </div>
    <br>
    </div>
    </div>
  </body>
</html>
{% endblock %}
