<!doctype html>
<html lang = "en">
   <head>
      <meta charset = "utf-8">
      <title>jQuery UI Slider functionality</title>
      <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#caloriesslider" ).slider({
               min: 0,
               max: 1,
               values: [.2, .6 ],
               step:.1,
               slide: function(event, ui) {
                  $( "#caloriesbreakfastamount" ).val(ui.values[0]); //changing calories breakfast amount value
                  $( "#calorieslunchamount" ).val(ui.values[1]); //changing calories breakfast amount value

               }
            });
            $( "#caloriesbreakfastamount" ).val($( "#caloriesslider" ).slider( "values", 0 )); //initial calories breakfastamount value
            $( "#calorieslunchamount" ).val($( "#caloriesslider" ).slider( "values", 1 )); //initial calories lunch value

         });
         $(function() {
            $( "#carbsslider" ).slider({
               min: 0,
               max: 1,
               values: [.2, .6 ],
               step:.1,
               slide: function(event, ui) {
                  $( "#carbsbreakfastamount" ).val(ui.values[0]); //changing calories breakfast amount value
                  $( "#carbslunchamount" ).val(ui.values[1]); //changing calories breakfast amount value

               }
            });
            $( "#carbsbreakfastamount" ).val($( "#carbsslider" ).slider( "values", 0 )); //initial calories breakfastamount value
            $( "#carbslunchamount" ).val($( "#carbsslider" ).slider( "values", 1 )); //initial calories lunch value

         });
         $(function() {
            $( "#proteinsslider" ).slider({
               min: 0,
               max: 1,
               values: [.2, .6 ],
               step:.1,
               slide: function(event, ui) {
                  $( "#proteinsbreakfastamount" ).val(ui.values[0]); //changing calories breakfast amount value
                  $( "#proteinslunchamount" ).val(ui.values[1]); //changing calories breakfast amount value

               }
            });
            $( "#proteinsbreakfastamount" ).val($( "#proteinsslider" ).slider( "values", 0 )); //initial calories breakfastamount value
            $( "#proteinslunchamount" ).val($( "#proteinsslider" ).slider( "values", 1 )); //initial calories lunch value

         });
      </script>
   </head>
   
   <body>
      <input type = "number" id = "caloriesbreakfastamount">
      <input type = "number" id = "calorieslunchamount">
      <div id = "caloriesslider"></div>

      <br>
      <br>
      <br>

      <input type = "number" id = "carbsbreakfastamount">
      <input type = "number" id = "carbslunchamount">
      <div id = "carbsslider"></div>

      <br>
      <br>
      <br>

      <input type = "number" id = "proteinsbreakfastamount">
      <input type = "number" id = "proteinslunchamount">
      <div id = "proteinsslider"></div>


   </body>
</html>