{% extends 'navigation.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>Health Planner</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.menu {display: none}
body { background-color:lightblue; } 

</style>
</head>
<body>


  <div>
    <h2>Saved Weekly Meal Plan</h2>
    {% if session["savedmealplan"] is defined %}

    <table class="table table-bordered" style="background-color:white;border-color:black">
      <tbody>
        <tr>
          {% for item in session["savedmealplan"] %}
          <td>Name: {{item['name']}}</td>
          <td>Ingredients: {% for food in item['ingredients'] %}
            {{food}}
            {% endfor %}</td>
            <td>Directions: {% for direction in item['directions'] %}
              {{direction}}
              {% endfor %}</td>
          <td>Calories: <span>{{item['nutritional_values']['calories']}}</span>
            <br>
               Carbs: <span>{{item['nutritional_values']['carbohydrate']}}</span>
               <br>
               Protein: <span>{{ item['nutritional_values']['protein'] }}</span>
            <br>
            Fat: <span>{{ item['nutritional_values']['fat'] }}</span>
            <br>
            Cholesterol: <span>{{ item['nutritional_values']['cholesterol'] }}</span>
            <br>
            Sodium: <span>{{ item['nutritional_values']['sodium'] }}</span>
            <br>
            Vitamina: <span>{{ item['nutritional_values']['vitamin_a'] }}</span>
            <br>
            Vitaminc: <span>{{ item['nutritional_values']['vitamin_c'] }}</span>
            <br>
            Calcium: <span>{{ item['nutritional_values']['calcium'] }}</span>
            <br>
            Fiber: <span>{{ item['nutritional_values']['fiber'] }}</span>
            <br>
            monounsaturated fat: <span>{{ item['nutritional_values']['monounsaturated_fat'] }}</span>
            <br>
            polyunsaturated fat: <span>{{ item['nutritional_values']['polyunsaturated_fat'] }}</span>
            <br>
            Iron: <span>{{ item['nutritional_values']['iron'] }}</span>
            <br>
            saturated fat: <span>{{ item['nutritional_values']['saturated_fat'] }}</span>
            <br>
            sugar: <span>{{ item['nutritional_values']['sugar'] }}</span>
            <br>
            trans fat: <span>{{ item['nutritional_values']['trans_fat'] }}</span>
            <br>
            Potassium: <span>{{ item['nutritional_values']['potassium'] }}</span>
            <br>
            </td>

        </tr>
          {% endfor %}

      </tbody>
      {% endif %}

    </table>
    <h2>Saved Weekly Exercise Plan</h2>
    {% if session["savedexerciseplan"] is defined %}

    <table class="table table-bordered" style="background-color:white;border-color:black">
      <tbody>
        <h5 class="card-header" style="background-color:black;color:white;">Sunday Exercises</h5>
            <div class="card-body">
            {% for exercise in session["savedexerciseplan"]['Sunday'] %}
            <div class="card">
              <h5 class="card-title"> Name: {{exercise['name']}}</h5>
              <h5 class="card-title"> Level: {{exercise['level']}}</h5>
              <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
              <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
              {% for musclegroup in exercise['targetmusclegroups'] %}

              <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
              {% endfor %}

              
            </div>
            {% endfor %}
          </div>
          </div>
          

          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Monday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Monday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Tuesday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Tuesday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Wednesday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Wednesday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Thursday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Thursday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Friday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Friday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="card" style="margin-top:10px;">
            <h5 class="card-header" style="background-color:black;color:white;">Saturday Exercises</h5>
            <div class="card-body">
              {% for exercise in session["savedexerciseplan"]['Saturday'] %}
              <div class="card">
                <h5 class="card-title"> Name: {{exercise['name']}}</h5>
                <h5 class="card-title"> Level: {{exercise['level']}}</h5>
                <h5 class="card-title"> Sets: {{exercise['sets']}}</h5>
                <h5 class="card-title"> Reps: {{exercise['reps']}}</h5>
                {% for musclegroup in exercise['targetmusclegroups'] %}
  
                <h5 class="card-title"> Target Muscle Group: {{musclegroup}}</h5>
                {% endfor %}
  
                
              </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        

      </tbody>
    </table>
    </div>
  <script>
  </script>
</body>
</html>

{% endblock %}
