{% extends 'navigation.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>Health Planner</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
.menu {display: none}
body { background-color:lightblue; } 

</style>
</head>
<body>


  <div style="padding: 15px; background-color: white; margin: 10px">
    <h2>Saved Weekly Meal Plan</h2>
    {% if bestmealplan is defined %}

    <table class="table table-bordered">
      <tbody>
        <tr>
          {% for item in bestmealplan %}
          <td>Name: {{item['name']}}</td>
          <td>Ingredients: {{item['ingredients']}}</td>
          <td>Nutritional Values: {{item['nutritional value']}}</td>
        </tr>
          {% endfor %}

      </tbody>
      {% endif %}

    </table>
    <h2>Saved Weekly Exercise Plan</h2>
    {% if bestexerciseplan is defined %}

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><h5 class="card-title"> Sunday</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Sunday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Sunday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Sunday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Sunday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Sunday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Sunday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Sunday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Sunday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Sunday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Sunday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Sunday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Sunday'][2]['targetmusclegroup']}}</h5></td>
        </tr>
        <tr>
          <td><h5 class="card-title"> Monday</h5></td>


          <td><h5 class="card-title"> Name: {{bestexerciseplan['Monday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Monday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Monday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Monday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Monday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Monday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Monday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Monday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Monday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Monday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Monday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Monday'][2]['targetmusclegroup']}}</h5></td>
        
        </tr>
        <tr>
          <td><h5 class="card-title"> Tuesday</h5></td>



          <td><h5 class="card-title"> Name: {{bestexerciseplan['Tuesday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Tuesday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Tuesday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Tuesday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Tuesday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Tuesday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Tuesday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Tuesday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Tuesday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Tuesday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Tuesday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Tuesday'][2]['targetmusclegroup']}}</h5></td>
       
        </tr>
        <tr>
          <td><h5 class="card-title"> Wednesday</h5></td>



          <td><h5 class="card-title"> Name: {{bestexerciseplan['Wednesday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Wednesday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Wednesday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Wednesday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Wednesday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Wednesday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Wednesday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Wednesday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Wednesday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Wednesday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Wednesday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Wednesday'][2]['targetmusclegroup']}}</h5></td>
        
        </tr>
        <tr>
          <td><h5 class="card-title"> Thursday</h5></td>

          <td><h5 class="card-title"> Name: {{bestexerciseplan['Thursday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Thursday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Thursday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Thursday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Thursday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Thursday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Thursday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Thursday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Thursday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Thursday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Thursday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Thursday'][2]['targetmusclegroup']}}</h5></td>
        
        </tr>
        <tr>
          <td><h5 class="card-title"> Friday</h5></td>



          <td><h5 class="card-title"> Name: {{bestexerciseplan['Friday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Friday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Friday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Friday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Friday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Friday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Friday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Friday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Friday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Friday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Friday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Friday'][2]['targetmusclegroup']}}</h5></td>
        
        </tr>
        <tr>

          <td><h5 class="card-title"> Saturday</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Saturday'][0]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Saturday'][0]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Saturday'][0]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Saturday'][0]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Saturday'][1]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Saturday'][1]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Saturday'][1]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Saturday'][1]['targetmusclegroup']}}</h5></td>
          <td><h5 class="card-title"> Name: {{bestexerciseplan['Saturday'][2]['Name']}}</h5></td>
          <td><h5 class="card-title"> Sets: {{bestexerciseplan['Saturday'][2]['sets']}}</h5></td>
          <td><h5 class="card-title"> Reps: {{bestexerciseplan['Saturday'][2]['reps']}}</h5></td>
          <td><h5 class="card-title"> Target Muscle Group: {{bestexerciseplan['Saturday'][2]['targetmusclegroup']}}</h5></td>
        
        </tr>
        {% endif %}

        

      </tbody>
    </table>
    </div>
  <script>
  </script>
</body>
</html>

{% endblock %}
