{% extends "navigation.html" %}

{% block content %}
<head>
    <title>Health Planner</title>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>
 <style>
    body { background-color:lightblue; } 


</style>

   <br>
   <div class="row align-items-center justify-content-center" style="text-align:center;">
{{jsonrecipe}}<br>
{{mealplan}}<br>
{{days}}{{intensity}}{{muscles}}
   <div class="col-md-4" style="background-color:grey;color:black;border-radius:10px;width:80%">
    <h1 style="text-align:center;background-color:grey;color:black">Add a Exercise, Meal, or Food item</h1>

    <form action="/addexercise" method="post" role="form">
      <label for="newexercise">Add new Exercise</label>
      <br>
      <input type="checkbox" id="Sunday" name="days" value="Sunday">
       <label for="Sunday">Sunday</label><br>
       <input type="checkbox" id="Monday" name="days" value="Monday">
       <label for="Monday">Monday</label><br>
       <input type="checkbox" id="Tuesday" name="days" value="Tuesday">
       <label for="Tuesday">Tuesday</label><br>
       <input type="checkbox" id="Wednesday" name="days" value="Wednesday">
       <label for="Wednesday">Wednesday</label><br>
       <input type="checkbox" id="Thursday" name="days" value="Thursday">
       <label for="Thursday">Thursday</label><br>
       <input type="checkbox" id="Friday" name="days" value="Friday">
       <label for="Friday">Friday</label><br>
       <input type="checkbox" id="Saturday" name="days" value="Saturday">
       <label for="Saturday">Saturday</label>
       <br>
       <label for="intensity">Intensity</label>
       <input type="number" id="intensity" name="intensity" >
       <br>
      <input type="checkbox" id="back" name="muscles" value="back">
       <label for="back">back</label><br>
       <input type="checkbox" id="shoulders" name="muscles" value="shoulders">
       <label for="shoulders">shoulders</label><br>
       <input type="checkbox" id="arms" name="muscles" value="arms">
       <label for="arms">arms</label><br>
       <input type="checkbox" id="core" name="muscles" value="core">
       <label for="core">core</label><br>
       <input type="checkbox" id="chest" name="muscles" value="chest">
       <label for="chest">chest</label><br>
       <input type="checkbox" id="thighs" name="muscles" value="thighs">
       <label for="thighs">thighs</label><br>
       <input type="checkbox" id="hamstrings" name="muscles" value="hamstrings">
       <label for="hamstrings">hamstrings</label><br>
       <input type="checkbox" id="glutes" name="muscles" value="glutes">
       <label for="glutes">glutes</label>
       <!-- <div>
         <select name="targetmuscledropdown" > 
           <option value="">Choose Target Muscle Group</option>
           <option value="back">Back</option>
           <option value="shoulders">Shoulders</option>
           <option value="arms">Arms</option>
           <option value="core">Core</option>
           <option value="chest">chest</option>
           <option value="thighs">Thighs</option>
           <option value="hamstrings">Hamstring</option>
           <option value="glutess">Glutes</option>
       </select>
      </div> -->
      <br>
     <button type="submit" class="btn btn-success">Add Exercise</button>


    </form>
    <br>
    <form action="/addfood" method="post" role="form">
      <label for="newfood">Add new Food</label>
      <input type="text" class="form-control" id="newfood" name="newrecipename" placeholder="Food name?">
      <input type="text" class="form-control" id="newfood" name="newrecipeingredients" placeholder="Food Ingredients?">
      <input type="number" class="form-control" step="0.1" id="Calories" min="0" name="newrecipecalories" placeholder="Calories?">
      <input type="number" class="form-control" step="0.1" id="Carbs" min="0" name="newrecipecarbs" placeholder="Carbs?">
      <input type="number" class="form-control" step="0.1" id="Proteins" min="0" name="protein" placeholder="Proteins?">
      <br>
      <button type="submit" class="btn btn-success">Add Food Recipe</button>

      </form>
      <br>
     <form  action="/listitems" method="post" role="form">

       <div class="form-group">
        <br>
         <label for="newmeal">Add new Meal</label>
         <input type="text" class="form-control" id="newmeal" name="newfoodname1" placeholder="First Recipe name?">
         <input type="text" class="form-control" id="newfood" name="newfoodingredients1" placeholder="First Recipe Ingredients?">
         <input type="number" class="form-control" step="0.1" id="Calories" min="0" name="Calories1" placeholder="First Recipe Calories?">
         <input type="number" class="form-control" step="0.1"id="Carbs" min="0" name="Carbs1" placeholder="First Recipe Carbs?">
         <input type="number" class="form-control" step="0.1" id="Proteins" min="0" name="Proteins1" placeholder="First Recipe Proteins?">
         <input type="text" class="form-control" id="newfood" name="newfoodname2" placeholder="Second Recipe name?">
         <input type="text" class="form-control" id="newfood" name="newfoodingredients2" placeholder="Second Recipe Ingredients?">
         <input type="number" class="form-control" step="0.1" id="Calories" min="0" name="Calories2" placeholder="Second Recipe Calories?">
         <input type="number" class="form-control" step="0.1" id="Carbs" min="0" name="Carbs2" placeholder="Second Recipe Carbs?">
         <input type="number" class="form-control" step="0.1" id="Proteins" min="0" name="Proteins2" placeholder="Second Recipe Proteins?">
         <input type="text" class="form-control" id="newfood" name="newfoodname3" placeholder="Third Recipe name?">
         <input type="text" class="form-control" id="newfood" name="newfoodingredients3" placeholder="Third Recipe Ingredients?">
         <input type="number" class="form-control" step="0.1" id="Calories" min="0" name="Calories3" placeholder="Third Recipe Calories?">
         <input type="number" class="form-control" step="0.1" id="Carbs" min="0" name="Carbs3" placeholder="Third Recipe Carbs?">
         <input type="number" class="form-control" step="0.1" id="Proteins" min="0" name="Proteins3" placeholder="Third Recipe Proteins?">
        

          </div>
       <br>													   

         <button type="submit" class="btn btn-success">Add Mealplan</button>
     </form>

     <br>
     <div class="list-group" style="margin-bottom:10px;">
      <div class="list-group-item ">
        <div>
          <h5 class="mb-1">Meals</h5>
          <p>{{bestrecipe}}</p>
          <p >Meal</p>
          <h5 class="mb-1">Exercises</h5>
          <p >Exercise</p>
          <p >Exercise</p>
          <h5 class="mb-1">Foods</h5>
          <p >Food</p>
          <p >Food</p>
        </div>
        </div>
        
    </div>
   </div>
  </div>
 
{% endblock %}
